<div class="container">
    <div class="container-fluid">
        <div class="calc col-sm-4 p-2 m-0 bg-inverse">
          <h1 class="text-center">Calculadora</h1>
          <br>
          <div class="col-sm-12 p-1 m-0">
            <input type="text" class="col-sm-5 text-lg-right" value="{{input}}" disabled>
            <input type="text" class="col-sm-6 text-lg-right" value="{{result}}" disabled>
          </div>
          <div class="col-sm-12 p-1 m-0">
            <button class="btn btn-outline-danger col-sm-3" type="button" (click)="allClear()">C</button>
            <button class="btn btn-outline-warning col-sm-3" type="button" (click)="clear()">X</button>
            <button class="btn btn-outline-secondary col-sm-5" type="button" (click)="pressOperator('/')">/</button>
          </div>
          <div class="col-sm-12 p-1 m-0">
              <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="7" (click)="pressNum('7')">
              <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="8" (click)="pressNum('8')">
              <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="9" (click)="pressNum('9')">
            <button class="btn btn-lg btn-outline-secondary col-sm-5 p-1 " type="button" (click)="pressOperator('*')"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
          <div class="col-sm-12 p-1 m-0">
            <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="6" (click)="pressNum('6')">
            <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="5" (click)="pressNum('5')">
            <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="4" (click)="pressNum('4')">
            <button class="btn btn-lg btn-outline-secondary col-sm-5 p-1" type="button" (click)="pressOperator('-')"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
          <div class="col-sm-12 p-1 m-0">
            <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="3" (click)="pressNum('3')">
            <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="2" (click)="pressNum('2')">
            <input type="button" class="btn btn-lg btn-outline-secondary col-sm-2 p-1 num" value="1" (click)="pressNum('1')">
            <button class="btn btn-lg btn-outline-secondary col-sm-5 p-1" type="button" (click)="pressOperator('+')"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
          <div class="col-sm-12 p-1 m-0">
            <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('.')">.</button>
            <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('0')">0</button>
            <button class="btn btn-lg btn-outline-success col-sm-5 p-1" type="button" (click)="getAnswer()">=</button>
          </div>
        </div>
    </div>
</div>   